[Unit]
Description=MLflow tracking server
After=network.target 

[Service]
User=estudiante
Restart=on-failure
RestartSec=3
WorkingDirectory=/home/estudiante/MLflow_Penguins
Environment=MLFLOW_S3_ENDPOINT_URL=http://10.43.101.205:9000
Environment=AWS_ACCESS_KEY_ID=admin
Environment=AWS_SECRET_ACCESS_KEY=supersecret
ExecStart=/usr/bin/python3 -m mlflow server \
  --backend-store-uri mysql+pymysql://mlflow_user:mlflow_pass@localhost/mlflow_db \
  --default-artifact-root s3://mlflows3/artifacts \
  --host 0.0.0.0 \
  --serve-artifacts

[Install]
WantedBy=multi-user.target

